@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
	box-sizing: border-box;

	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #9DCDC0;
	&::-webkit-scrollbar {
		width: 0;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
.recipe {
	height: 30rem;
	padding: 0.5em;
	margin: 1rem;
	transition: 300ms ease-in-out;
	&:hover {
		transform: translateY(-5px);
	}
	.card-header {
		font-size: 1.5rem;
		margin-bottom: 7px;
	}
	.card-footer {
		.btn {
			font-size: 20px;
			transform: scale(0.7);
		}
	}
	.card-body {
		&::-webkit-scrollbar {
			width: 10px;
			
		}
		&::-webkit-scrollbar-track {
			background: transparent;
		}
		&::-webkit-scrollbar-thumb {
			background-color: gray;
			border-radius: 40px;
		}
	}
}
